h1{
  text-align:center;
  color: #030378;
}
h2{
  text-align:left;
  color: #030378;
}
h3{
  color:#030378;
}
< div style="text-align:center"></div>
p{
  font-family:Verdana;
  font-style:italic;
  font-weight:bold;
  font-size:15px;
  padding:5px;
}
