h1{
  text-align:center;
  color: #030378;
}
h2{
  text-align:center;
  color: #030378;
}
<div style="text-align:center"><img style="border: 5px solid />
p{
  font-family:Verdana;
  font-style:italic;
  font-weight:500;
  font-size:12px;
  padding:5px;
}
